<% content_for(:title) { "Sign up" } %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "pure-form pure-form-aligned" }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <div class="pure-control-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="pure-control-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="pure-control-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="pure-control-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="pure-control-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="pure-controls">
      <%= f.submit "Sign up", class: "pure-button pure-button-primary" %>
    </div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
